.App {
  background-color: #ffd1b2;
  min-height: 100vh;
}

.navbar-chaos {
  background-color: #134122;
  color: white;
}

.nt-table-row:hover {
  background-color: #ffd1b2;;
}

.btn.btn-light {
  background-color: #f2f1f1;
}

.btn.btn-chaos {
  background-color: #ff944c;
  color: white;
  border-color: white;
}

.btn.btn-chaos:hover {
  background-color: #cbe0d2;
  color: white;
}

.blink {
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
