.App {
  background-color: #ffd1b2;
  min-height: 100vh;
}

.navbar-chaos {
  background-color: #134122;
  color: white;
}

.Value-Table {
  background-color: white;
}

.btn.btn-chaos {
  background-color: #ff944c;
  color: white;
  border-color: white;
}

.btn.btn-chaos:hover {
  background-color: #cbe0d2;
  color: white;
}
